*{
    box-sizing: border-box;
}
body{
    background-color: rgba(23, 22, 22, 0.292);
}
#container{
    height: 90vh;
    width: 50vw;
    margin: auto;
    background-color: rgba(26, 24, 24, 0.356);
    text-align: center;
    border-radius: 7px;
}
img{
    height: 300px;
    width: 250px;
    border-radius: 10px;
    margin: 10px;
}
#output{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: bolder;
    color: bisque;
    margin-bottom: 100px;
}
h1{
    color: bisque;
}
