/* Cascading stylesheet for the website */

* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url("background_image.jpg");
    color: white;
    
}
#container {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 30px 100px;
}

#title {
  text-align: center;
  font-size: 50px;
  font-family:'Courier New', Courier, monospace;
  padding-top: 15px;
  letter-spacing: 5px;
}
span{
    color: red;
}
#definition {
    text-align: center;
    font-size: 23px;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

#survey-form {
    width: 500px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    padding-top: 10px;
}

#name,
#email,
#age,
#content {
    box-sizing: border-box;
    margin-top: 15px;
    height: 35px;
    width: 400px;
    border: none;
    padding: 10px;
}

.box {
    margin-top: 20px;
    margin-left: 40px;
}

#textarea {
    margin-top: 10px;
}

#submitButton{
    text-align: center;
}
#submit {
    font-size: larger;
    margin: auto;
    height: 50px;
    width:  160px;
    border-radius: 50%;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    text-align: center;
    
}
#submit:hover {
    background: white;
    color: red;
}

