.DetailsPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .dish{
        background-color: rgba(255, 228, 196, 0.5);
        width: 50vw;
        min-height: 50vh;
        height: auto;
        border-radius: 7px;
        text-align: center;
    }
}