.App {
  text-align: center;
  
  nav{

    .navbar {
      padding: 1rem 3rem;
      background-color: #5e98f0 !important;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .navbar-brand{
        text-decoration: none;
        color: bisque;
      }
      .buttons{
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
