.loginContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .loginForm{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 228, 196, 0.5);
        border-radius: 0% 60% 0% 60%;
        text-align: center;
        height: 50vh;
        margin: 40px 70px 50px 70px;
        padding: 40px;

        input{
            width: 200px;
            margin: 10px;
            border-radius: 10px;
            min-height: 25px;
        }
        button{
            width: 100px;
            margin: 20p;
            :hover{
                background-color: bisque;
                color: royalblue;
            }
        }
    }
    footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(255, 228, 196, 0.5);
        color: darkcyan;
        text-align: center;
        border-radius: 100% 100% 100% 100%;
        min-height: 50px;
        align-items: center;
        margin: auto;
        button{
            width: 80px;
            height: 30px;
            border-radius: 50px;
            background-color: bisque;
            color: royalblue;

        }
    }
}